<div class="row mt-4">
  <div class="col-lg-5">
    <article class="leaderboard">
      <h4>New Room</h4>
      <%=render 'rooms/form', room: @room %>

      <h3 class="leaderboard__title mt-3">
        <p class="leaderboard__title--bottom">Your Rooms(<%=@rooms.count%>)</p>
      </h3>
      
      <%= turbo_stream_from 'rooms' %>
      
      <div id="rooms">
        <%= render @rooms %>
      </div>
    </article>
  </div>

  <div class="col-lg-7">
    <% if @single_room.present? %>
      <%= turbo_stream_from "messages" %>

      <div class="message-box position-relative" id="messages">
        <%= render 'messages/box', room: @single_room, messages: @messages %>
      </div>
    <%end%>
  </div>
</div>

<style type="text/css">
  .message-box{
    background: #fff;
    height: calc(100vh - 65px);
    width: 100%;
  }
  #messages-form{
    bottom: 0px;
    background: #ddd;
    padding:  10px;
    width: 100%;
  }
  .card {
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    height: calc(100% - 65px);
    overflow-y: scroll;
  }
  .single-message{
    margin: 5px;
  }
  .single-message-box{
    width: fit-content;
    max-width: 40%;
    border-radius: 10px;
    margin-bottom: 0px;
    background-color: #dadada;
    padding: 5px 10px;
  }
  <%= ".msg-#{current_user&.id}" %> {
    background-color: #007bff !important;
    padding: 5px 10px;
  }
  <%= ".cont-#{current_user&.id}" %> {
    display: flex;
    justify-content: flex-end;
  }
</style>